<div class="container-fluid dashboard-content ">
					<!-- ============================================================== -->
					<!-- pageheader  -->
					<!-- ============================================================== -->
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="page-header">
								<label class="pageheader-title" style="font-size: 16px;font-weight: bold;color:white;">Module Permission
								</label>															
							</div>
						</div>
					</div>
					<!-- ============================================================== -->
					<!-- end pageheader  -->
					<!-- ============================================================== -->
					<div class="ecommerce-widget">

						<div class="row">
							
							
						</div>
						<div class="row">
							<!-- ============================================================== -->

							<!-- ============================================================== -->

							<!-- recent orders  -->
							<!-- ============================================================== -->
							<div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
								<div class="card" style = "padding : 30px;" >
								 <form ng-submit="saveModpermission()">
								 <div class="row">
								 <div class="col-xl-3 col-lg-3 col-md-3 ">
											<div class="form-group">
											 <label  class="col-form-label">Select User Id:</label>
											<div angucomplete-alt id="ex1"
                                                                    placeholder="User Id"
                                                                    pause="100"
                                                                   selected-object="selectedSevarthNum"
                                                                    local-data="sevarthNumObj"
                                                                    search-fields="sevarth_no"
                                                                    title-field="sevarth_no"
                                                                    minlength="1"
                                                                    initial-value="selectedSevarthNum"
                                                                    match-class="highlight"
                                                                    
                                                                    input-class="form-control" >
                                                                  </div>
											
                                               </div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-3 ">
											<div class="form-group">
                                                <label  class="col-form-label">Select Module:</label>
                                                <!-- <input type="text" name="username" ng-model="username" textaccept capitalize class="form-control"> -->
                                                <select  name="moduleid" ng-model="moduleid"  ng-change="getDataByModId()"  class="form-control" ng-options="modules.module_id as modules.module_name for modules in moduleDataObj "></select>
                                            </div>
										</div>
								 </div>
								<div class="row" >
								<div class="col-xl-3 col-lg-3 col-md-3 ">
											<div class="form-group">
                                                <label  class="col-form-label" style="font-weight: bold;">Assign Permissions</label>
                                              
                                            </div>
										</div>
								</div>
																	
									<div class="row" style="margin-bottom: 20px;">
									<div id="dataentry" class="col-xl-2 col-lg-2 col-md-2 ">
											<div class="form-group">
                                                <label  class="col-form-label">Data Entry</label>
                                                 <input type="checkbox" style="margin-left:10px;"  name="dataentry" ng-model="dataentry"   > 
                                             
                                            </div>
										</div>
										<div id="validation" style="display:none" class="col-xl-2 col-lg-2 col-md-2 ">
											<div class="form-group">
                                                <label  class="col-form-label">Validation</label>
                                                 <input type="checkbox"  style="margin-left:10px;" name="validation" ng-model="validation"   > 
                                             
                                            </div>
										</div>
										<div id="view" class="col-xl-2 col-lg-2 col-md-2 ">
											<div class="form-group">
                                                <label  class="col-form-label"> View Report</label>
                                                 <input type="checkbox"  style="margin-left:10px;"  name="view" ng-model="view"  > 
                                             
                                            </div>
										</div>
										<div id="deskOfficer" class="col-xl-2 col-lg-2 col-md-2 ">
											<div class="form-group">
                                                <label  class="col-form-label">Desk Officer</label>
                                                 <input type="checkbox"  style="margin-left:10px;"  name="deskOfficer" ng-model="deskOfficer"  > 
                                             
                                            </div>
										</div>
										<div  id="gisViewer" class="col-xl-2 col-lg-2 col-md-2 ">
											<div class="form-group">
                                                <label  class="col-form-label">GIS Viewer</label>
                                                 <input type="checkbox"  style="margin-left:10px;" id="gisViewer" name="gisViewer" ng-model="gisViewer"  > 
                                             
                                            </div>
										</div>
										
									</div>
									
									<!-- <div class="row" >
										<div class="offset-xl-5 offset-lg-5 offset-md-5  ">
											<div class="form-group">
                                              
                                                 <input type="submit"   ng-if="flag === 0"  id="save" style="background: #307ECC; border: #307ECC;color:white"  value="Submit"  class="btn " autocomplete="off"> 
                                                  <input type="submit"  ng-if="flag === 1"  id="update"  style="background: #307ECC; border: #307ECC;color:white" value="Update "  class="btn " autocomplete="off"> 
                                            
                                            </div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-3 ">
											<div class="form-group">
                                                <input type="button"  ng-click="clearForm()" value="Cancel" style="background: #bdb5b5; border: #bdb5b5;"  class="btn btn-secondary" autocomplete="off">
                                            </div>
										</div>																			
									</div> -->
									
									
									<div style="text-align:center;" >
										
										
										<div >
											<div class="form-group">
											 <input type="submit"   ng-if="flag === 0"  id="save" style="background: #307ECC; border: #307ECC;color:white"  value="Submit"  class="btn " autocomplete="off"> 
                                                  <input type="submit"  ng-if="flag === 1"  id="update"  style="background: #307ECC; border: #307ECC;color:white" value="Update "  class="btn " autocomplete="off"> 
                                                <input type="button"  ng-click="clearForm()" value="Cancel" style="background: #bdb5b5; border: #bdb5b5;"  class="btn btn-secondary" autocomplete="off">
                                            </div>
										</div>	
																													
									</div>
									
									
									
									
									
									</form>
									<div class="row">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="card">
                                <h5 class="card-header">Module Permission Data Table</h5>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Sr.no.</th>
                                                <th scope="col">Sevarth Number</th>
                                                <th scope="col">Module Name</th>
                                                <th scope="col"> View Report</th>
                                                <!-- <th scope="col">Validate</th> -->
                                                <th scope="col">Data Entry</th>
                                                <th scope="col">Desk Officer</th>
                                                <th scope="col">Gis View</th>
                                                <th scope="col">Update</th>
                                                 <th scope="col">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat ="modulePerm in modPermissionObj">
                                                <th scope="row">{{$index+1}}</th>
                                                <td>{{modulePerm.usrbean.sevarth_no}}</td>
                                                <td>{{modulePerm.bean.module_name}}</td>
                                                <td>{{modulePerm.per_view}}</td>
                                               <!--  <td>{{modulePerm.per_validate}}</td> -->
                                                <td>{{modulePerm.per_dataentry}}</td>
                                                 <td>{{modulePerm.per_desk}}</td>
                                                  <td>{{modulePerm.per_gis}}</td>
                                               
                                                <td> <input type="button"  value="Edit" style="background: #307ECC; border: #307ECC; color:white" class="btn btn-success" ng-click="getModDataByPermId(modulePerm.pr_id)" autocomplete="off"> </td>
                                                <td> <input type="button"  value="Delete"  class="btn btn-danger"  ng-click="deleteRecordById(modulePerm.pr_id)" autocomplete="off"> </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
									</div>
								</div>
							</div>							
						</div>						
					</div>
				</div>